div
{
    padding: 0px 300px;
    text-align: justify;
    color:#000000;
}
h1{
    padding:100px 0px 0px;
    text-align: center;
    color:#00cc00;
}

pre{
    background-color:#CCCCCC; 
    color:#0000FF;
}
.class
{
    color:#ff0000;
}