h1{ text-align : center; background-color: #ffccff; color: #FF0000;font-style:inherit;padding: 10px 10px; font-size :30pt;}
div { font-style : italic;text-align :center;background-color:#FFFFCC}
#para1 { color : #3f01f3}
#para2{color: #f301e0}
#para3{color:#01f317}
hr {color: #999999; width: 300px;}
